<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-N3SV9BXBFJ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-N3SV9BXBFJ');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/navbar.css"/> <!-- For universal navbar -->
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/dashboard.css"/>
</head>
<body>
    <header class="navbar">
        <div class="left">
            <a href="/" class="home-link">
                <img src="../webpage/tutor-pictures/GATORlogo.png" width="48" alt="Logo" class="Logo">
                <span class="title" style="color: #efebef; padding-right: 10px; padding-left: 10px;">WiseGATOR</span>
            </a>
        </div>
        <div class="search-container">
            <form class="search-form" action="/search-tutors" method="GET">
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>

                <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <button type="submit">Search</button>
            </form>
        </div>  
        <div class="right">
            <div class="navbar-buttons">
                <a href="/about-us/"><button>About Us</button></a>
                <a href="/tutor-application/"><button>Become a Tutor</button></a>

                <!-- TO DO: If logged in dashboard else login form -->
                <!-- <a href="/dashboard/"><button>Dashboard</button></a> -->
                <% if (loggedIn) { %>
                    <a href="/dashboard/"><button>Dashboard</button></a>
                    <form action="/users/logout/" method="post">
                      <button type="submit">Logout</button>
                    </form>
                    <% } else { %>
                      <a href="/login-form/"><button>Log In</button></a>
                  <% } %>

                <!-- <a href="/"><button>Home</button></a> FEATURE MOVED TO LOGO -->
                <!-- <a href="/search-tutors/"><button>Search Tutors</button></a> FEATURE MOVED TO SEARCH BAR -->
            </div>
        </div>
    </header>
    <main class="content">
        <h1>Dashboard</h1>
        <div class="welcome-message">
            <h2>Welcome Back, <%=userName%></h2>
        </div>
        <div class="dashboard-columns">
            <div class="sent-messages">
                <h3>You have <%=numInbox%> Messages:</h3>
                <!-- START OF PRESENTATION DISPLAY DIVS FOR INCOMING MESSAGES -->
                <% receivedMessages.forEach((msg, index) => { %>
                <div class="message-item">
                    <img src="../webpage/tutor-pictures/default.png" alt="PFP">
                    <div class="message-details">
                        <p><%=msg.Date%></p>  
                        <p>From: <%=(recUsers[index]).name%></p>
                        <p>Email: <%=(recUsers[index]).email%></p> 
                        <p></p>                                 
                        <p><%= msg.Message %></p></p>    
                    </div>
                </div>
               
                <% }); %>
                <!-- END OF PRESENTATION DISPLAY DIVS FOR INCOMING MESSAGES -->

            </div>
            <div class="your-posted topics">
                <h3>Sent Messages:</h3>

                <% sentMessages.forEach((msg, index) => { %>
                    <div class="tutor-item">
                        <img src="../webpage/tutor-pictures/<%=(recTutors[index]).picture%>.png" alt="PFP">
                        <div class="tutor-details">
                            <%=msg.Date%>
                            <p>To: <%=(recTutors[index]).name%></p>
                            <p>Topic: <%=(recTutors[index]).subject_id%></p>
                            <p></p>
                            <p><%= msg.Message %></p>  
                            <p><a href="">Click here for additional tutor related Video, Image, or CV/Flyer</a></p> 
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </main>
</body>
</html>