<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: DimGrey;
            color: white; /* Apply white color to the text */
        }

        input, select, button {
            color: black; /* Text color */
            background-color: white; /* Background color */
        }
    </style>
    <title>Tutor Search</title>
</head>
<body>
        <!--THIS IS SIMPLE NAVBAR-->
    <ul>
        <li><a href="/home-page/">Home</a></li>
        <li><a href="/about-us/">About Us</a></li>
        <li><a href="/search-tutors/">Search Tutors</a></li>
        <li style="float:right"><a class="active" href="#sign-in">Sign In</a></li>
    </ul>

    <form action="/search-tutors" method="GET">
        <input type="text" name="search" placeholder="Search by name">
        
        <select name="subject">
            <option value="">Select Topic</option>
            <% topics.forEach(topic => { %>
                <option value="<%= topic.subject %>"><%= topic.subject %></option>
            <% }); %>
        </select>

        <button type="submit">Search</button>
    </form>

    <ul>
        <% tutors.forEach(tutor => { %>
            <li>
                <img src="../tutor-pictures/<%= tutor.picture %>.png" alt="<%= tutor.name %>" width="50">
                <%= tutor.name %> - Subject ID: <%= tutor.subject_id %>
            </li>
        <% }); %>
    </ul>
</body>
</html>