<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/dashboard.css"/>
    <style>
        body {
            background-color: DimGrey;
            color: white; /* Apply white color to the text */
        }

        input, select, button {
            color: black; /* Text color */
            background-color: white; /* Background color */
        }
    </style>
    <title>Tutor Search</title>
</head>
<body>
    <header class="navbar">
        <div class="left">
            <img src="../webpage/tutor-pictures/GATORlogo.png" width="65" alt="Logo" class="Logo">
            <a class="title" style="color: rgb(0, 0, 0);">wiseGATOR</a> 
        </div>
        <div class="search-container">
            <form class="search-form" action="/search-tutors" method="GET">
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>

                <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <button type="submit">Search</button>
            </form>
        </div>  
        <div class="right">
            <div class="navbar-buttons">
                <a href="/"><button>Home</button></a>
                <a href="/about-us/"><button>About Us</button></a>
                <!-- <a href="/search-tutors/"><button>Search Tutors</button></a> -->
                <a href="/tutor-application/"><button>Become a Tutor</button></a>
                <a href="/login-form/"><button>Log In</button></a>
            </div>
        </div>
    </header>

    
    <div class="tutor-cards-container">
        <% tutors.forEach(tutor => { %>
            <div class="tutor-card">
                <img src="../webpage/tutor-pictures/<%= tutor.picture %>.png" alt="<%= tutor.name %>" class="tutor-picture">
                <div class="tutor-info">
                    <h3><%= tutor.name %></h3>
                    <p>Subject ID: <%= tutor.subject_id %></p>
                </div>
                <div class="tutor-contact">
                    <button type="button">Message</button>
                </div>
            </div>
        <% }); %>
    </div>

    <!-- <ul>
        <% tutors.forEach(tutor => { %>
            <li>
                <img src="../webpage/tutor-pictures/<%= tutor.picture %>.png" alt="<%= tutor.name %>" width="50">
                <%= tutor.name %> - Subject ID: <%= tutor.subject_id %>
            </li>
        <% }); %>
    </ul> -->

</body>
</html>