<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: DimGrey;
            color: white; /* Apply white color to the text */
        }

        input, select, button {
            color: black; /* Text color */
            background-color: white; /* Background color */
        }
    </style>
    <title>Tutor Search</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about-us/">About Us</a>
        <a href="/search-tutors/">Search Tutors</a>
        <a href="/tutor-application/">Become a Tutor</a>
        <a href="/login-form/">Sign In</a>
    </div>

    <form action="/search-tutors" method="GET">
    <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
        
        <select name="subject">
            <option value="">Select Topic</option>
            <% topics.forEach(topic => { %>
                <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
            <% }); %>
        </select>

        <button type="submit">Search</button>
    </form>

    <ul>
        <% tutors.forEach(tutor => { %>
            <li>
                <img src="../webpage/tutor-pictures/<%= tutor.picture %>.png" alt="<%= tutor.name %>" width="50">
                <%= tutor.name %> - Subject ID: <%= tutor.subject_id %>
            </li>
        <% }); %>
    </ul>
</body>
</html>