<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../webpage/CSS/dashboard.css"/> <!-- For universal navbar, NOTE: already present search-tutors.css ? -->
    <script src="../webpage/JS/search-tutors.js" defer></script>
    <title>Tutor Search</title>
</head>
<body>
    <header class="navbar">
        <div class="left">
            <a href="/" class="home-link">
                <img src="../webpage/tutor-pictures/GATORlogo.png" width="48" alt="Logo" class="Logo">
                <span class="title" style="color: #efebef; padding-right: 10px; padding-left: 10px;">WiseGATOR</span>
            </a>
        </div>
        <div class="search-container">
            <form class="search-form" action="/search-tutors" method="GET">
                <select name="subject">
                    <option value="">Select Topic</option>
                    <% topics.forEach(topic => { %>
                        <option value="<%= topic.subject %>" <%= (typeof subject !== 'undefined' && subject === topic.subject) ? 'selected' : '' %>><%= topic.subject %></option>
                    <% }); %>
                </select>

                <input type="text" name="search" value="<%= typeof name !== 'undefined' ? name : '' %>" placeholder="Search by name" maxlength="40">
                
                <button type="submit">Search</button>
            </form>
        </div>  
        <div class="right">
            <div class="navbar-buttons">
                <a href="/about-us/"><button>About Us</button></a>
                <a href="/tutor-application/"><button>Become a Tutor</button></a>

                <!-- TO DO: If logged in dashboard else login form -->
                <!-- <a href="/dashboard/"><button>Dashboard</button></a> -->
                <% if (loggedIn) { %>
                    <a href="/dashboard/"><button>Dashboard</button></a>
                    <form action="/users/logout/" method="post">
                      <button type="submit">Logout</button>
                    </form>
                    <% } else { %>
                      <a href="/login-form/"><button>Log In</button></a>
                  <% } %>

                <!-- <a href="/"><button>Home</button></a> FEATURE MOVED TO LOGO -->
                <!-- <a href="/search-tutors/"><button>Search Tutors</button></a> FEATURE MOVED TO SEARCH BAR -->
            </div>
        </div>
    </header>
    <div class="tutor-cards-container">
        <% tutors.forEach((tutor, index) => { %>
            <div class="tutor-card">
                <img src="../webpage/tutor-pictures/<%= tutor.picture %>.png" alt="<%= tutor.name %>" class="tutor-picture">
                <div class="tutor-info">
                    <h3><%= tutor.name %></h3>
                    <p>Subject ID: <%= tutor.subject_id %></p>
                </div>
                <div class="tutor-contact">
                     
                </div>
                <button class=messageBtn id="messageBtn<%= index %>">Message</button> 
                <div id="messagePopup<%= index %>" class="popup">
                    <!-- Popup content -->
                    <div class="popup-content">
                        <span class="close" data-index="<%= index %>">&times;</span>
                        <p>Enter your message:</p>
                        <form action="/users/message/" method="post">
                            <textarea id="messageText<%= index %>" name="messageText" rows="4" cols="50"></textarea>
                            <input type="hidden" name="tutorId" value="<%= tutor.id %>">
                            <button class="sendMsgBtn" data-index="<%= index %>">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>

    <!-- <ul>
        <% tutors.forEach(tutor => { %>
            <li>
                <img src="../webpage/tutor-pictures/<%= tutor.picture %>.png" alt="<%= tutor.name %>" width="50">
                <%= tutor.name %> - Subject ID: <%= tutor.subject_id %>
            </li>
        <% }); %>
    </ul> -->

</body>
</html>